/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  display: flex;
}

/* Fade In Animation */
@keyframes fadeIn {
  0%, 40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Container Styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0vh 5vw;
  animation: fadeIn 1s cubic-bezier(.25, .1, .25, 1);
  transform-origin: center bottom;
}

/* Chapter Container */
.chapterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.chapterContent {
  display: flex;
}

/* Text Styles */
#text {
  width: 33.33%;
  align-self: flex-end;
  padding: 20px;
  font-size: 1.125rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

/* Project Cover */
.projectCover {
  width: 66.66%;
  padding: 20px;
}





